section.fto-carousel {
    background-image: linear-gradient(to top right, #195078, #6AAEE0, #51a0d9, #195078);
    width: 100%;
}

.hero {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 15px 100px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hero .image {
    width: 600px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .image img {
    height: 390px;
    width: 500px;
    transform: translateX(100px);
    opacity: 0;
    animation-name: animateImage;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-delay: 0.5s;
}

.hero .carousel {
    width: 500px;
}

.carousel .item {
    display: none;
}

.carousel .item.active {
    display: block !important;
}

.carousel .item h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
    letter-spacing: 3px;
}

.carousel .item p {
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.carousel .item .comands {
    display: flex;
    gap: 30px;
}

.carousel .item .comands a {
    display: flex;
    width: 200px;
    height: 60px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    text-decoration: none;
    background-color: #fff;
    color: #333;
    font-size: 18px;
    transition: all 0.5 ease;
    box-shadow: 0.2px 0.5px 10px #333;
}

.carousel .item .comands a:first-child {
    background-color: #083158;
    color: #fff;
}

.carousel .item .comands a:hover {
    background-color: transparent;
    border: 2px solid #083158;
    color: #fff;
}


.carousel .item.active h1 {
    animation-name: carouselItemAnimate;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 0s;
    transform: translateX(-10px);
    opacity: 0;
}

.carousel .item.active p {
    animation-name: carouselItemAnimate;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 0.5s;
    transform: translateX(10px);
    opacity: 0;
}

.carousel .item.active .comands {
    animation-name: carouselItemAnimate;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    transform: translateY(10px);
    animation-delay: 0.5s;
    opacity: 0;
}

@keyframes carouselItemAnimate {
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes animateImage {
    100%{
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

@media screen and (max-width:678px) {
    .hero {
        flex-direction: column;
        padding: 40px 10px;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 30px;
    }

    .hero .image {
        width: 100%;
        display: flex;
        justify-content: center;
        height: auto;
    }

    .hero .image img {
        height: 340px;
        width: 450px;
    }

    .hero .carousel {
        width: 100%;
    }

    .hero .carousel .item {
        text-align: center;
    }

    .hero .carousel .item .comands {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 878px) {
    .hero {
        flex-direction: column;
        padding: 40px 100px;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 30px;
    }

    .hero .image {
        width: 100%;
        display: flex;
        justify-content: center;
        height: auto;
    }

    .hero .image img {
        height: 250px;
        width: 350px;
    }

    .hero .carousel {
        width: 100%;
    }

    .hero .carousel .item {
        text-align: center;
    }

    .hero .carousel .item .comands {
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}